/* Color Palette
#003236 - dark dark teal
#006F7A - dark teal
#03A6A6 - teal
#491A1B - dark red
#CC3035 - red
#E66A6D - pink
#D89288 - light pink
#E2DCD1 - dark white
#F2EDE6 - bright white
*/



/*   ##########    ##########   ##           ##########   ##########     ##########
    ##            ##        ##  ##          ##        ##  ##       ##   ##
    ##            ##        ##  ##          ##        ##  ##        ##  ##
    ##            ##        ##  ##          ##        ##  ##       ##    ##########
    ##            ##        ##  ##          ##        ##  ##########              ##
    ##            ##        ##  ##          ##        ##  ##      ##              ##
    ##            ##        ##  ##          ##        ##  ##       ##             ##
     ##########    ##########   ##########   ##########   ##        ##   ##########   */

body {
  background-color:#F2EDE6;
}

/* Background colors (from palette) */
.bg-darkteal {
  background-color:#006F7A;
}
.bg-teal {
  background-color:#03a6a6;
}
.bg-red {
  background-color:#CC3035;
}
.bg-pink {
  background-color:#E66A6D;
}
.bg-lightpink {
  background-color:#D89288;
}
.bg-darkwhite {
  background-color:#E2DCD1;
}
.bg-brightwhite {
  background-color:#F2EDE6;
}

/* Text colors (from palette) */
.text-darkdarkteal {
  color:#003236;
}
.text-darkteal {
  color:#006F7A;
}
.text-teal {
  color:#03a6a6;
}
.text-darkred {
  color:#491A1B
}
.text-red {
  color:#CC3035;
}
.text-pink {
  color:#E66A6D;
}
.text-lightpink {
  color:#D89288;
}
.text-darkwhite {
  color:#E2DCD1;
}
.text-brightwhite {
  color:#F2EDE6;
}

/* Button colors (from palette) */
.btn-darkteal {
  background-color:#006F7A;
  color:#F2EDE6;
  font-weight:500;
}
.btn-teal {
  background-color:#03a6a6;
  color:#F2EDE6;
  font-weight:500;
}
.btn-red {
  background-color:#CC3035;
  color:#F2EDE6;
  font-weight:500;
}
.btn-pink {
  background-color:#E66A6D;
  color:#F2EDE6;
  font-weight:500;
}
.btn-lightpink {
  background-color:#D89288;
  color:#CC3035;
  font-weight:500;
}
.btn-darkwhite {
  background-color:#E2DCD1;
  color:#CC3035;
  font-weight:500;
}
.btn-brightwhite {
  background-color:#F2EDE6;
  color:#CC3035;
  font-weight:500;
}

/* soft black and grey text colors */
.soft-blk {
  color:#0e1111;
}
.dk-grey {
  color:#232b2b;
}
.warm-grey {
  color:#353839;
}
.blue-grey {
  color:#3b444b;
}
.cool-grey {
  color:#414a4c;
}




/*  ############  ####      ####    ########     ##########   ##########   ##########
         ##       ## ##    ## ##   ##      ##   ##        ##  ##          ##
         ##       ##  ##  ##  ##  ##        ##  ##            ##          ##
         ##       ##   ####   ##  ##        ##  ##            ##           ##########
         ##       ##    ##    ##  ############  ##   ######   ########              ##
         ##       ##          ##  ##        ##  ##        ##  ##                    ##
         ##       ##          ##  ##        ##  ##        ##  ##                    ##
    ############  ##          ##  ##        ##   ##########   ##########   ##########   */

/* Images in tutorials/the knitting tutorial */
.tutorial-img {
  max-width: 100%;
  height: auto;
}

/* Carousel images */
.carousel-img {
  height: auto;
  width: 100%;
}




/*   ##########   ##########  ###       ##  ##########  ##########      ########    ##
    ##        ##  ##          ## ##     ##  ##          ##       ##    ##      ##   ##
    ##            ##          ##  ##    ##  ##          ##        ##  ##        ##  ##
    ##            #########   ##   ##   ##  #########   ##       ##   ##        ##  ##
    ##   ######   ##          ##    ##  ##  ##          ##########    ############  ##
    ##        ##  ##          ##     ## ##  ##          ##      ##    ##        ##  ##
    ##        ##  ##          ##      ####  ##          ##       ##   ##        ##  ##
     ##########   ##########  ##       ###  ##########  ##        ##  ##        ##  ##########   */


/* Make first line bold */
.first-line {
  font-weight: bold;
}

/* Padding */
.padding {
  padding:2rem;
}





/*  ###########   ##########    ##########   ############  ##########  ##########
    ##           ##        ##  ##        ##       ##       ##          ##       ##
    ##           ##        ##  ##        ##       ##       ##          ##        ##
    #########    ##        ##  ##        ##       ##       #########   ##       ##
    ##           ##        ##  ##        ##       ##       ##          ##########
    ##           ##        ##  ##        ##       ##       ##          ##      ##
    ##           ##        ##  ##        ##       ##       ##          ##       ##
    ##            ##########    ##########        ##       ##########  ##        ##

/* Footer */
footer {
  background-color: #006F7A;
}
.ftr-copy {
  text-align:center;
}

/* Icons */
.fa-facebook-f {
  color:#E2DCD1;
}
.fa-envelope {
  color:#E2DCD1;
}
.fa-phone {
  color:#E2DCD1;
}




/*  ###########   ##########    ##########    ####      ####
    ##           ##        ##   ##       ##   ## ##    ## ##
    ##           ##        ##   ##        ##  ##  ##  ##  ##
    #########    ##        ##   ##       ##   ##   ####   ##
    ##           ##        ##   ##########    ##    ##    ##
    ##           ##        ##   ##      ##    ##          ##
    ##           ##        ##   ##       ##   ##          ##
    ##            ##########    ##        ##  ##          ##  */
    

/* CONTACT FORM */
/* Style inputs, select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: rgb(51, 63, 170);
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
#formpage {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.formcol25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.formcol75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.formrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .formcol25,
  .formcol75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}